*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -s 10.70.90.53/32 -d {{ INTERNAL_MGT_IP }}/32 -j ACCEPT
-A INPUT -s 10.70.73.66/32 -d {{ INTERNAL_MGT_IP }}/32 -j ACCEPT
-A INPUT -s 10.70.0.0/16 -d {{ INTERNAL_MGT_IP }}/32 -j ACCEPT

{% if INTERNAL_LISTEN_IP != "" %}
-A INPUT -d {{ INTERNAL_LISTEN_IP }}/32 -p tcp -m tcp --dport 53 -j ACCEPT
-A INPUT -d {{ INTERNAL_LISTEN_IP }}/32 -p udp -m udp --dport 53 -j ACCEPT
-A INPUT -d {{ INTERNAL_LISTEN_IP }}/32 -p icmp --icmp-type echo-request -j ACCEPT
{% if DOH_SERVER != "" %}
-A INPUT -d {{ INTERNAL_LISTEN_IP }}/32 -p tcp -m tcp --dport 443 -j ACCEPT
{% endif %}
-A INPUT -d {{ INTERNAL_LISTEN_IP }}/32 -j DROP
{% endif %}

{% if EXTERNAL_LISTEN_IP != "" %}
-A INPUT -d {{ EXTERNAL_LISTEN_IP }}/32 -p tcp -m tcp --dport 53 -j ACCEPT
-A INPUT -d {{ EXTERNAL_LISTEN_IP }}/32 -p udp -m udp --dport 53 -j ACCEPT
{% if DOH_SERVER != "" %}
-A INPUT -d {{ EXTERNAL_LISTEN_IP }}/32 -p tcp -m tcp --dport 443 -j ACCEPT
{% endif %}
-A INPUT -d {{ EXTERNAL_LISTEN_IP }}/32 -j DROP
{% endif %}

# Catch all
-A INPUT -p tcp --dport 5355 -j DROP
-A INPUT -p udp --dport 5355 -j DROP
-A INPUT -p tcp --dport 53   -j DROP
-A INPUT -p udp --dport 53   -j DROP
-A INPUT -p tcp --dport 443  -j DROP
-A INPUT -p tcp --dport 22   -j DROP
-A INPUT -p tcp --dport 25   -j DROP

-A FORWARD -s 10.70.90.53/32 -d {{ INTERNAL_MGT_IP }}/32 -j ACCEPT

{% if INTERNAL_LISTEN_IP != "" %}
-A FORWARD -d {{ INTERNAL_LISTEN_IP }}/32 -p tcp -m tcp --dport 53 -j ACCEPT
-A FORWARD -d {{ INTERNAL_LISTEN_IP }}/32 -p udp -m udp --dport 53 -j ACCEPT
{% if DOH_SERVER != "" %}
-A INPUT -d {{ INTERNAL_LISTEN_IP }}/32 -p tcp -m tcp --dport 443 -j ACCEPT
{% endif %}
-A FORWARD -d {{ INTERNAL_LISTEN_IP }}/32 -j DROP
{% endif %}

{% if EXTERNAL_LISTEN_IP != "" %}
-A FORWARD -d {{ EXTERNAL_LISTEN_IP }}/32 -p tcp -m tcp --dport 53 -j ACCEPT
-A FORWARD -d {{ EXTERNAL_LISTEN_IP }}/32 -p udp -m udp --dport 53 -j ACCEPT
{% if DOH_SERVER != "" %}
-A INPUT -d {{ EXTERNAL_LISTEN_IP }}/32 -p tcp -m tcp --dport 443 -j ACCEPT
{% endif %}
-A FORWARD -d {{ EXTERNAL_LISTEN_IP }}/32 -j DROP
{% endif %}

COMMIT