
server:
{% if INTERNAL_LISTEN_IP != "" %}    listen: {{ INTERNAL_LISTEN_IP }}@53
{% endif %}
{% if EXTERNAL_LISTEN_IP != "" %}    listen: {{ EXTERNAL_LISTEN_IP }}@53
{% endif %}

log:
  - target: syslog
    any: info

mod-cookies:
  - id: default
    secret: {{ DNS_COOKIE_SECRET }}

mod-rrl:
 - id: default
   rate-limit: 200
   slip: 2

template:
  - id: default
    global-module: mod-cookies/default
    global-module: mod-rrl/default
    global-module: mod-stats
    storage: /var/lib/knot/zones

key:
  - id: doh.mesh.nycmesh.net
    algorithm: hmac-sha384
    secret: {{ TSIG_KEY_DOH }}

acl:
  - id: acl-update-doh
    action: update
    key: doh.mesh.nycmesh.net

zone:
  - domain: mesh
  - domain: mesh.nycmesh.net
    file: mesh.zone
  - domain: doh.mesh.nycmesh.net
    file: doh.mesh.nycmesh.net.zone
    acl: acl-update-doh
  - domain: nycmeshconnect.com
    file: nycmeshconnect.com.zone
  - domain: nycmeshconnect.net
    file: nycmeshconnect.net.zone
  - domain: themesh.foundation
    file: themesh.foundation.zone
  - domain: themesh.nyc
    file: themesh.nyc.zone
  - domain: 10.in-addr.arpa
  - domain: 59.167.199.in-addr.arpa
