- name: Download knot gpg key
  ansible.builtin.get_url:
    url: https://pkg.labs.nic.cz/gpg
    dest: /usr/share/keyrings/cznic-labs-pkg.gpg
    mode: "0644"
    owner: root
    group: root

- name: Setup knot apt repo
  ansible.builtin.copy:
    src: cznic-labs-knot-dns.list
    dest: /etc/apt/sources.list.d/cznic-labs-knot-dns.list
    mode: "644"
    owner: root
    group: root

- name: Pin knot package
  ansible.builtin.copy:
    src: knot.apt.preferences.txt
    dest: /etc/apt/preferences.d/knot
    mode: "644"
    owner: root
    group: root

- name: Install deps
  ansible.builtin.apt:
    lock_timeout: 240
    update_cache: true
    pkg:
      - apt-transport-https
      - ca-certificates
      - git
      - cron
      - python3-pip
      - python3.11-venv
      - dnsutils
      - knot=3.3.10

- name: Knot DNS Config
  ansible.builtin.template:
    src: knot.conf.j2
    dest: /etc/knot/knot.conf
    owner: root
    group: knot
    mode: "640"

- name: Make sure commit file does not exist
  ansible.builtin.file:
    path: /var/lib/knot/commit
    state: absent

- name: Make sure file does not exist in the directory's place
  ansible.builtin.file:
    path: /var/lib/knot/zones
    state: absent
  when: "'/var/lib/knot/zones' is not ansible.builtin.directory"

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: /var/lib/knot/zones
    state: directory
    owner: root
    group: knot
    mode: "750"

- name: Git checkout
  ansible.builtin.git:
    repo: "https://github.com/nycmeshnet/nycmesh-dns.git"
    dest: /root/nycmesh-dns
    version: master

- name: Run deploy script
  ansible.builtin.command:
    cmd: bash -c "cd /root/nycmesh-dns/ && bash /root/nycmesh-dns/deploy_knot.sh"

- name: Allow restarting of knot
  ansible.builtin.lineinfile:
    path: /lib/systemd/system/knot.service
    search_string: Restart=
    line: "Restart=always"

- name: Restart and enable knot service
  ansible.builtin.systemd_service:
    name: knot
    state: restarted
    enabled: true
    daemon_reload: true

- name: Crontab
  ansible.builtin.lineinfile:
    path: /etc/cron.d/knot_zone_update
    line: "*/10 * * * *   root    cd /root/nycmesh-dns && bash /root/nycmesh-dns/deploy_knot.sh 2>&1 > /dev/null"
    create: true
    mode: "644"

- name: Restart and enable cron service
  ansible.builtin.service:
    name: cron
    state: restarted
    enabled: true
