frr version 8.4.4
frr defaults traditional
hostname {{ SERVER_HOSTNAME }}
log syslog informational
no ip forwarding
no ipv6 forwarding
service integrated-vtysh-config
!
interface eth0
 ip ospf cost 10
exit
!
router ospf
 ospf router-id {{ ROUTER_IP }}
 network {{ INTERNAL_NETWORK_RANGE }} area 0
 network {{ INTERNAL_LISTEN_IP }}/32 area 0
{% if EXTERNAL_LISTEN_IP != "" %} network {{ EXTERNAL_LISTEN_IP }}/32 area 0
{% if EXTERNAL_OUTGOING_IP != "" %} network {{ EXTERNAL_OUTGOING_IP }}/32 area 0
{% endif %}
exit
!