
name: "Pull Request"

on:
  pull_request:

permissions: read-all

jobs:
  validations:
    name: "Validate"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # @v3
        with:
          terraform_version: 1.8.3

      - name: Terraform format
        run: terraform fmt -check
        working-directory: sld

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c #@v5
        with:
          python-version: '3.11'

      - name: Setup libraries
        run: pip install --require-hashes -r requirements.txt

      - name: Setup kzonecheck
        run: sudo apt-get update && sudo apt-get install -y knot-dnssecutils

      - name: Run kzonecheck on each zone file
        run: find . -type f -name "*.zone" -print0 | xargs -0L1 kzonecheck -v

      - name: Run ansible-lint
        uses: ansible/ansible-lint@a2bc8b8b13a80802215856c56823d85007d3baf5 # v25
        with:
          args: ""
          setup_python: "true"
          working_directory: "./infra/ansible/"
          requirements_file: ""
