
name: "Pull Request"

on:
  pull_request:

permissions: read-all

jobs:
  validations:
    name: "Validate"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # @v3
        with:
          terraform_version: 1.8.3

      - name: Terraform format
        run: terraform fmt -check
        working-directory: sld

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #@v5
        with:
          python-version: '3.11'

      - name: Setup libraries
        run: pip install --require-hashes -r requirements.txt

      - name: Setup kzonecheck
        run: sudo apt-get update && sudo apt-get install -y knot-dnssecutils

      - name: Run kzonecheck on each zone file
        run: find . -type f -name "*.zone" -print0 | xargs -0L1 kzonecheck -v

      - name: Setup ansible
        run: pip install --require-hashes -r requirements.txt && export PATH="$HOME/.local/bin:$PATH" && ansible-galaxy collection install --force -r infra/ansible/roles/requirements.yml

      - name: Run ansible-lint
        uses: ansible/ansible-lint@7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0 # v25
        with:
          args: ""
          setup_python: "true"
          working_directory: "./infra/ansible/"
          requirements_file: ""
